# API
VITE_API_URL=http://localhost:5173/api

# Ambiente
VITE_ENV=development

# Google (OAuth)
VITE_GOOGLE_CLIENT_ID=866212359087-c9i68sdbvqtefea9k4c9uuonkpm0g33o.apps.googleusercontent.com

# Analytics (opcional)
VITE_GOOGLE_ANALYTICS_ID=542885198

# Sentry (opcional)
VITE_SENTRY_DSN=84002e7a6e9e11f1829ffef03651e6a4
